body {
  background-color: #7aabc3;
}

.quizFrame {

  margin: 100px auto;
  width: 500px;
  height: 300px;
  box-shadow: 10px 10px 10px;
  
}
.quizFrameHead {
  height: 70px;
  background-color: #ccc756; 
  display: flex;
  justify-content: center;
  align-items: ;
}
.topArea {
  height: 115px;
  background-color: #98e3dd;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bottomArea {
  height: 115px;
  background-color: #98e3dd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionField {
  font-size: 36px;
}
.guessField {
  font-size: 36px;
  width: 72px;
}
.guessButton {
  font-size: 36px;
  padding: 6px;
  border-radius: 10px;
}
